# All members of the Code for Lansing Leadership team are considered code
# owners for all new projects. Additional individuals and teams can be added
# on a per-project basis.

*       @codeforlansing/leadership
